*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//estilos para el body
body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;


    // estilos para el contenedor de las vistas de registro y login
    .content-ingreso{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: cadetblue;

        .form-ingreso{
            padding: 3rem 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            border: none;
            border-radius: 5px;
            background-color: burlywood;

            h5{
                margin-bottom: 1rem;
                font-size: 2rem;
                color: white;
            }

            input{
                padding: 1rem;
                width: 15rem;
                border-radius: 5px;
                border: solid 2px #555;
                


                &::placeholder {
                    font-size: 1rem;
                    color: #555;
                    
                   
                }
    
                &:focus {
                outline: none;
                  
                }
            }

            button{
                padding: 1rem;
                width: 15rem;
                background-color: aquamarine;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s; 

                &:hover {
                    color: white;
                    background-color: darkturquoise; 
                    transform: translateY(-5px); 
                }


            }
        }
    }
}




